img {
    max-width: 100%;
    height: auto;
}

/*[class*=' col-'] {
  padding-left: 20px;
  padding-right: 20px;
}*/
.textArea {
  padding-right: 50px;
}
.container {
  margin-top: 30px;
}
.sub-btn {
  text-align: center;
}

.summaryText {
  background-color: rgba(162, 195, 209, 0.34);
  text-align: center;
  padding: 20px;
}

#summaryTitle {
  font-size: 30px;
}
