img {
    max-width: 100%;
    height: auto;
}

[class*=' col-'] {
  padding: 20px;
}

.sub-btn {
  text-align: center;
  margin-top: 15px;
}

.summaryText {
  background-color: rgba(162, 195, 209, 0.85);
  text-align: center;
  padding: 20px;
}

#summaryTitle {
  font-size: 30px;
}
